<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


  <!--Main Content-->
  <main class="container">

    <div class="jumbotron">
     <h3 class="display-6"><img src="/Assets/images/omarLogo1.png.png" alt="omar" width="75" ><strong> Welcome to my <%= title %> Page </strong> <img src="/Assets/images/omarLogo1.png.png" alt="omar" width="75" > </h3>
     <hr class="my-4">
     <%- include partials/home.ejs %>

     <%- include partials/about.ejs %>

     <%- include partials/projects.ejs %>

     <%- include partials/services.ejs %>

     <%- include partials/contact.ejs %>

    </div>
  </main>
<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>
