<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


  <!--Main Content-->
  <main class="container">

    <div class="jumbotron">
     <h3 class="display-6"><img src="/Assets/images/omarLogo1.png.png" alt="omar" width="75" ><strong> Welcome to my <%= title %> Page </strong> <img src="/Assets/images/omarLogo1.png.png" alt="omar" width="75" > </h3>
     <hr class="my-4">
     <%if (title == "Home") { %>
     <div class="px-3">
     <h1>My Mission Statement:</h1>
       <p class="lead">Family isn’t just an important thing, it’s everything.</p>
       <p class="lead">Make change and diffrence in the world</p>
       <p class="lead">Be helpful to the all humanity</p>
       <p class="lead">Be better person</p>
       <p class="lead">Keep learning and improving my skills</p>
       <p class="lead">Be better devloper</p>
       <p class="lead">Learn new software languages</p>
       <p class="lead">Learn and learn and keep learning</p>
       

       <p class="lead">
         <a href="/About" class="btn btn-lg btn-secondary fw-bold border-#f56f95 bg-#f56f95">About me</a>
         <a href="/Contact" class="btn btn-lg btn-secondary fw-bold border-#f56f95 bg-#f56f95">Contact me</a>
       </p>

     </div>
     <br>
     <br>
     <br>
             
     <% } %>

     <%if (title == "About") { %>
     <p>My name is <strong>Omar Khesruf</strong>.</p>
     
             <div class="row mb-3">
               <div class="col-md-8 themed-grid-col">I am studying <strong>Software Engineering Technology</strong> at Centennial College</div>
               <div class="col-md-7 themed-grid-col">I have a bachelor degree in agricultural science from Egypt</div>
               <div class="col-md-6 themed-grid-col">Becuse of my passion for learning new things and my love to the technology, i decided to start my shifting career journey. Since then I never stop learning and coding. Now i have good skills in Html, JavaScript, CSS, Java and C#. I will keep learning becuse this field makes me feel so good especially when I finish coding. Now in my journey I am in point of searching for an apportunity to do my COOP work term with a senior experienced devlopers at any IT company to learn from their knowledge and experince.</div>

               <div class="col-md-4 themed-grid-col"><img src="/Assets/images/me.jpg" alt="omar" width="250" ></div>
             </div>
             <p>To follow up with me👉 <a href="/Assets/resume Omar.pdf">This is my Resume</a>.</p>
             <br>
             <br>
        
     <% } %>

     <%if (title == "Projects") { %>
     <p>In this page you can the<strong> Projects</strong> that i worked on during my study period so far:</p>
             <div class="row mb-3">
               <div class="col-6 col-md-4 themed-grid-col"><strong style="color: red">Project Name</strong></div>
               <div class="col-6 col-md-4 themed-grid-col"><strong style="color: red">Picture</strong></div>
               <div class="col-6 col-md-4 themed-grid-col"><strong style="color: red">URL and explanation</strong></div>
             </div>
             <div class="row mb-2">
               <div class="col-6 col-md-4 themed-grid-col"><hr class="my-1"></div>
               <div class="col-6 col-md-4 themed-grid-col"><hr class="my-1"></div>
               <div class="col-6 col-md-4 themed-grid-col"><hr class="my-1"></div>
             </div>
             <div class="row mb-3">
               <div class="col-6 col-md-4 themed-grid-col">Design website for a company</div>
               <div class="col-6 col-md-4 themed-grid-col"><img src="/Assets/images/Dave.png" alt="Dave" width="150" ></div>
               <div class="col-6 col-md-4 themed-grid-col">I did this website as a part of class project, to improve my skills in Html, Css and JavaScript <a href="http://studentweb.cencol.ca/okhesruf/Project/project_2020.html">Click here to see the project😁</a></div>
             </div>
             <div class="row mb-3">
               <div class="col-6 col-md-4 themed-grid-col"><i class="fab fa-lg fa-java"> Java Projects</i></div>
               <div class="col-6 col-md-4 themed-grid-col"><img src="/Assets/images/java.png" alt="Dave" width="150" ></div>
               <div class="col-6 col-md-4 themed-grid-col">I did many assignments and projects in Java class i will put them here as soon I publish them on my Github</div>
             </div>
             <div class="row mb-3">
               <div class="col-6 col-md-4 themed-grid-col">Table Generator</div>
               <div class="col-6 col-md-4 themed-grid-col"><img src="/Assets/images/table.png" alt="Table Generator" width="150" ></div>
               <div class="col-6 col-md-4 themed-grid-col">I did Table Generator as a part of class assignment, I used Html, Css and JavaScript. <a href="http://studentweb.cencol.ca/okhesruf/Assignment.2/assignment2.html">Click here to try it😎</a></div>
             </div>
             <div class="row mb-3">
               <div class="col-6 col-md-4 themed-grid-col">Instructor Evaluation Form</div>
               <div class="col-6 col-md-4 themed-grid-col"><img src="/Assets/images/form.png" alt="Table Generator" width="150" ></div>
               <div class="col-6 col-md-4 themed-grid-col">I did Instructor Evaluation Form as a part of class assignment, I used Html and Css. <a href="http://studentweb.cencol.ca/okhesruf/assignment%204/assignment%204.html">Click here to try it😎</a></div>
             </div>
             <br>
             <br>
     <% } %>

     <%if (title == "Services") { %>
     <p>In this page you can see the<strong> Services</strong> that I can offer:</p>
     <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text"><img src="/Assets/images/htmlcssjs.png" alt="htmlcssjs" width="100" class="d-inline-block align-text-center"> Design simple personal page using Html, Css and JavaScript</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"><a href="/Contact">Please contact me for more information</a></small>
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text"><img src="/Assets/images/appdev.png" alt="appdev" width="100" class="d-inline-block align-text-center"> Create and devlope simple Android Apps</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"><a href="/Contact">Please contact me for more information</a></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text"><img src="/Assets/images/WebDev.png" alt="appdev" width="100" class="d-inline-block align-text-center">Devlope web Applications</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"><a href="/Contact">Please contact me for more information</a></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">

            <div class="card-body">
              <p class="card-text"><img src="/Assets/images/java.png" alt="java" width="100" class="d-inline-block align-text-center">Use Java EE to devlope web Apps</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"><a href="/Contact">Please contact me for more information</a></small>
              </div>
            </div>
          </div>
          <br>
          <br>
        </div>
        
     <% } %>

     <%if (title == "Contact") { %>
     <p>This page to contact me and to keep in touch<strong> Please fill out the form 📰</strong>.</p>
             	<form action="mailto:omar91syr@gmail.com" method="post">
		<table class="table" style="width: 100%">
			<tr>
				<td class="tableInfo"><span lang="en-ca">Full name:</span></td>
				<td>
				<input name="nametxt" size="30" tabindex="2" type="text" value="e.g. John Smith"></td>
			</tr>
			<tr class="evenTable">
				<td class="tableInfo"><span lang="en-ca">Email address:</span></td>
				<td>
				<input name="emailtxt" size="20" tabindex="4" type="text" value="e.g. john@smith.ca"></td>
			</tr>
			<tr>
				<td class="tableInfo"><span lang="en-ca">Phone number:</span></td>
				<td><span lang="en-ca">
				<input name="txtNumber" size="21" tabindex="6" type="text" value="e.g. +1 (123)456-7891"></span></td>
			</tr>
			
			<tr class="evenTable">
				<td class="tableInfo"><span lang="en-ca">Your message:</span></td>
				<td><span lang="en-ca">
				<textarea cols="35" name="txtMessage" rows="10" tabindex="12">Put your message here and I will get back to you as soon as possible...</textarea></span></td>
			</tr>
			<tr>
				<td class="tableInfo"><span lang="en-ca">
				<input class="btn btn-lg btn-secondary fw-bold border-#f56f95 bg-#f56f95" name="submit" tabindex="14" type="submit" value="Send Us Your Form"></span></td>
				<td><span lang="en-ca">
        <p class="lead">

				<input class="btn btn-lg btn-secondary fw-bold border-#f56f95 bg-#f56f95" name="Reset" tabindex="16" type="reset" value="Clear Form And Start Over"></span></td>
			</tr>
		</table>
		</form>
    <br>
    <br>
     <% } %>

     
     

    </div>
  </main>
<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>
